@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* linear-gradient( #2134B2CC 100%, #2134B2CC 100%),  */
}

header{
    background-image: linear-gradient( #2134B2CC 100%, #2134B2CC 100%), url("../images/background-image.png");
    background-repeat: no-repeat;
    background-size: 100% 93%;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #86899B;
}
h3{
    font-size: 32px;
}
h6{
    font-size: 24px;
}

/* --------------nav----------- */
.navclass{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-mobile{
    display: none;
}
.navclass p{
    color: white;
}
.navclass a{
    color: white;
}

/* ---------body-content------------- */
.body-content{
    text-align: center;
    color: white;
    margin-top: 160px;
}
.body-content h2{
    font-size: 48px;
}
.body-content p{
    font-size: 24px;
    color: white;
}
.button1{
    color: white;
    background: transparent;
    border: 1px solid;
    border-radius: 48px;
    padding: 7px 14px;
    margin-right: 15px;
}
.button2{
    background: #FFD300;
    border: none;
    border-radius: 48px;
    padding: 7px 20px;
    margin-left: 15px;
}

/* ---------media------- */
.media{
    margin-top: 80px;
    text-align: center;
    margin-bottom: 32px;
}
.media video{
    width: 720px;
    height: 405px;
    border-radius: 16px;
}

/* -------------sample form---------------- */
.sample-form{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content:space-around;
    align-items: center;
    width: 720px;
    height: 340px;
    background: linear-gradient(105.14deg, #FFFFFF 0.34%, #F3F4F9 48.48%), #F3F4F9;
    box-shadow: 0px 1px 1px rgba(47, 48, 53, 0.1), 0px 2px 6px rgba(47, 48, 53, 0.1);
    border-radius: 16px;
}
.sample-form p{
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 20px;
}
.imput-class p{
    color: black;
}
.sample-form input{
    margin-bottom: 15px;
    border: none;
    padding: 8px 15px;
}
ul {
    list-style: none;
  }
  
  ul li::before {
    content: "\2022";
    color: #2134B2;
    font-weight: bolder;
    display: inline-block; 
    width: 1em;
    margin-left: -2.5em;
  }

  /* --------main-feature---------- */

.main-feature{
    padding-left: 220px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 44px;
  }

.main-feature-right{
    background-image: url("../images/iPhone.png");
    background-repeat: no-repeat;
}
.messaging1{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 252px;
    height: 72px;
    border-radius: 14px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    box-shadow: 0px 1px 1px rgba(47, 48, 53, 0.1), 0px 2px 6px rgba(47, 48, 53, 0.1);
    position: relative;
    left: 80px;
    top: 80px;
    margin-bottom: 24px;
}
.messaging1 h6{
    font-size: 16px;
    margin: 0px;
}
.messaging1 p{
    font-size: 14px;
    margin: 0px;
}
.messaging2{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 252px;
    height: 72px;
    border-radius: 14px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    box-shadow: 0px 1px 1px rgba(47, 48, 53, 0.1), 0px 2px 6px rgba(47, 48, 53, 0.1);
    position: relative;
    left: 160px;
    top: 80px;
    margin-bottom: 24px;
}
.messaging2 h6{
    font-size: 16px;
    margin: 0px;
}
.messaging2 p{
    font-size: 14px;
    margin: 0px;
}
.messaging3{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 252px;
    height: 135px;
    border-radius: 14px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    box-shadow: 0px 1px 1px rgba(47, 48, 53, 0.1), 0px 2px 6px rgba(47, 48, 53, 0.1);
    position: relative;
    left: 80px;
    top: 80px;
    margin-bottom: 24px;
}

.messaging3 p{
    font-size: 14px;
    margin: 0px;
}

.main-feature-left h3{
    font-size: 32px;
    margin: 0;

}
.main-feature-left p{
    font-size: 20px;
}
.main-feature-left h6{
    font-size: 24px;
    margin: 0;
}
.features{
    display: flex;
    align-items:flex-start;
    column-gap: 32px;
    margin: 40px 0px;
}
.features i{
    font-size: 40px;
    color: blue;
}

/* -----------request-access----------- */
.request-access{
    text-align: center;
}
.request-access h3{
    font-size: 32px;
    font-weight: 400;
}
.request-access{
    text-align: center;
    margin-bottom: 100px;
}

/* -----------highlight-selling-points----------- */
.highlight-selling-points{
    background: #2F3035;
}

.offers{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-flow:row;
    align-items: center;
    justify-items:center;
}
.offers h6,p{
    margin: 16px;
    padding: 0;
}

.offer-features{
    display: flex;
    align-items: baseline;
    column-gap: 32px;
    margin: 40px 0px;
    color: white;
}
.offer-features i{
    font-size: 40px;
}
.offer-footer-text h3{
    color: white;
    text-align: left;
}
.offer-footer-text p{
    padding: 0;
    margin: 0;
}

/* --------------footer------------ */
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0px;
}
footer p, a{
    color: #86899B;
}

/* -------------Media query-------- */

/* Tablet Device */
@media only screen and (min-width: 688px) and (max-width:992px){
    header{
        background-size: 175% 93%;
    }
    .main-feature{
        padding-left: 10px;
        margin-top: 100px;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 44px;
    }

    .messaging2{
        padding-left: 10px;
        left: 100px;
    }
    .messaging1, .messaging3{
        padding-left: 10px;
        left: 60px;
    }
    .highlight-selling-points{
        padding: 0px 10px;
    }
    .offer-features{
        column-gap: 12px;
    }

}

/* Mobile Device */
@media only screen and (max-width: 688px){
    header{
        background-size: 360% 93%;
    }
    .navclass{
        justify-content:space-around;
        align-items:center;
    }
    .nav-mobile{
        display: block;
    }
    .nav-all-device{
        display: none;
    }
    .media video{
        width: 95%;
        height: 70%;
    }
    .sample-form{
        width: 90%;
        height: 70%;
        padding: 10px 5px;
        flex-direction: column;
    }
    .main-feature{
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
      }
    .messaging2{
        padding-left: 10px;
        left: 70px;
    }
    .messaging1, .messaging3{
        padding-left: 10px;
        left: 40px;
    }
    .offers{
        grid-template-columns: repeat(1,1fr);
        padding: 0px 15px;
    }
} 